/*
https://coolors.co/ffffff-343036-bf4342-a30000-6f7d8c
*/

*   {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body    {
    color: #000309;
    overflow-x: hidden;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    position: relative;
    z-index: 0;
    max-width: 100vw;
}

html    {
    font-size: 62.5%;
}

.main-header    {
    height: 100vh;
    background-image: linear-gradient(to right bottom,rgba(255, 0, 128, 0.226), rgba(0,0,0,0.6)), url('img/bg-img.jpg');
    background-size: cover;
    background-position: center 25%;
}

.header-nav {
    text-align: center;
    font-size: 32px;
    padding-top: 30px;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
}

.header-nav-item:link, .header-nav-item:visited    {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    box-sizing: border-box;
    transition: all 0.2s;
}

.header-nav-item:hover  {
    text-shadow: rgba(104, 42, 42, 0.658) 2px 2px,
    rgba(104, 42, 42, 0.658) 4px 4px,
    rgba(104, 42, 42, 0.658) 6px 6px;
}

.header-hero    {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
}

.hero-heading   {
    color: white;
}

.hero-heading-primary   {
    display: block;
    font-size: 200px;
    font-weight: 900;
    text-shadow: rgba(104, 42, 42, 0.658) 2px 2px,
    rgba(104, 42, 42, 0.658) 4px 4px,
    rgba(104, 42, 42, 0.658) 6px 6px,
    rgba(104, 42, 42, 0.658) 8px 8px,
    rgba(104, 42, 42, 0.658) 10px 10px,
    rgba(104, 42, 42, 0.658) 12px 12px,
    rgba(104, 42, 42, 0.658) 14px 14px,
    rgba(104, 42, 42, 0.658) 16px 16px,
    rgba(104, 42, 42, 0.658) 18px 18px,
    rgba(104, 42, 42, 0.658) 20px 20px;
    animation-name: herotext;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
}

.hero-heading-secondary {
    display: block;
    font-size: 50px;
    text-shadow: rgba(104, 42, 42, 0.658) 2px 2px,
        rgba(104, 42, 42, 0.658) 4px 4px,
        rgba(104, 42, 42, 0.658) 6px 6px;
    animation: herosubtext 0.8s ease-in-out;
    animation-fill-mode: both;
    margin-bottom: 75px;
    animation-delay: 0.2s;
    backface-visibility: hidden;
}

@keyframes herotext {
    0%  {
        transform: translateX(20px) translateY(20px);
        opacity: 0;
        text-shadow: none;
    }
    100%    {
        transform: translate(0);
        opacity: 1;
        text-shadow: rgba(104, 42, 42, 0.658) 2px 2px,
        rgba(104, 42, 42, 0.658) 4px 4px,
        rgba(104, 42, 42, 0.658) 6px 6px,
        rgba(104, 42, 42, 0.658) 8px 8px,
        rgba(104, 42, 42, 0.658) 10px 10px,
        rgba(104, 42, 42, 0.658) 12px 12px,
        rgba(104, 42, 42, 0.658) 14px 14px,
        rgba(104, 42, 42, 0.658) 16px 16px,
        rgba(104, 42, 42, 0.658) 18px 18px,
        rgba(104, 42, 42, 0.658) 20px 20px;
    }
}

@keyframes herosubtext {
    0% {
        opacity: 0;
        transform: translateX(6px) translateY(6px);
        text-shadow: none;
    }
    100%    {
        opacity: 1;
        transform: translate(0);
        text-shadow: rgba(104, 42, 42, 0.658) 2px 2px,
        rgba(104, 42, 42, 0.658) 4px 4px,
        rgba(104, 42, 42, 0.658) 6px 6px;
    }
}

.hero-btn:link, .hero-btn:visited   {
    text-decoration: none;
    color: white;
    background-color: rgb(104, 42, 42,0.5);
    padding: 18px 36px;
    font-size: 30px;
    display: inline-block;
    margin: 0 40px;
    border: 5px solid white;
    box-sizing: border-box;
    transition: all 0.2s;
}

.hero-btn:hover  {
    background-color:  rgb(80, 8, 8);
    box-shadow: 2px 2px 40px 4px rgba(0,0,0,0.7);
}

.hero-btn:active    {
    border-color: rgb(80, 8, 8);
    background-color: rgba(104, 42, 42);
}

.btn-1  {
    animation-name: button1;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes button1  {
    0%  {
        opacity: 0;
        transform: translateY(20px);
    }
    100%    {
        opacity: 1;
        transform: translate(0);
    }
}

.btn-2  {
    animation-name: button2;
    animation-duration: 0.5s;
    animation-delay: 1.25s;
    animation-fill-mode: both;
}

@keyframes button2  {
    0%  {
        opacity: 0;
        transform: translateY(40px);
    }
    100%    {
        opacity: 1;
        transform: translate(0);
    }
}

.btn-3  {
    animation-name: button3;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}

@keyframes button3  {
    0%  {
        opacity: 0;
        transform: translateY(60px);
    }
    100%    {
        opacity: 1;
        transform: translate(0);
    }
}

.socials    {
    position: absolute;
    bottom: 30px;
    left: 40px;
}

.social-icon    {
    width: 50px;
    margin-right: 20px;
    transition: all 0.1s;
    animation-name: socialicons;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.7);
}

@keyframes socialicons  {
    0% {
        opacity: 0;
    }
    100%    {
        opacity: 1;
    }
}

.social-icon:hover    {
    transform: translateY(-4px);
    box-shadow: rgba(104, 42, 42, 0.658) 0px 2px 6px,
        rgba(104, 42, 42, 0.658) 0px 4px 6px;
}
.footer-text    {
    color: white;
    position: absolute;
    right: 20px;
    bottom: 40px;
    font-size: 20px;
}

.font-attrib    {
    color: white;
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 16px;
    text-decoration: none;
}
