*   {
    margin: 0;
    padding: 0;
}

body    {
    box-sizing: border-box;
    color: #9FC3EA;
    overflow-x: hidden;
}

.hero   {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8vh 92vh;
}

.hero-nav   {
    grid-column: 1 / 2;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 100%;
    background-color: #151B25;
    align-items: center;
}

#logo   {
    height: 100%;
    margin: 0 4rem;
}

.navbar {
    width: 50vw;
}

.navbar-list    {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.navbar-item a  {
    text-decoration: none;
    color: #9FC3EA;
}

.hero-main  {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-row-start: 2;
    overflow: hidden;
}

.hero-text  {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #151B25;
    align-items: center;
    align-self: stretch;
    justify-content: center;
}

.hero-img   {
    position: relative;
}

.hero-img img  {
    width: 100%;
    position: absolute;
    top: -15rem;
    filter: grayscale(80%);
}

.hero-text-section  {
    height: 100%;
    align-self: stretch;
    display: flex;
    padding: 8rem 4rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}

.hero-text-section p    {
    font-size: 4rem;
    align-self:flex-start;
}

.hero-text-section h1   {
    font-size: 7rem;
    align-self: flex-start;
}

.hero-text-section h2   {
    font-size: 2.4rem;
    align-self: flex-start;
}

.hero-btn-section   {
    align-self: baseline;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding: 4rem;
}

.hero-btn   {
    text-decoration: none;
    color: #9FC3EA;
    border: 1px solid #9FC3EA;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 1.2rem;
}

.hero-btn:hover {
    color: #151B25;
    background-color: #9FC3EA;
    box-shadow: rgba(0, 0, 0, 0.25) 0 20px 15px;
    border: 1px solid #151B25;
    transform: translateY(-4px);
    transition: 0.4s ease-in-out;
}

.navbar-item:hover  {
    border-bottom: 2px solid #9FC3EA;
}